:root {
  --primary: #fff;
  --bg-color: #121212;
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --text-color: #f0e68c; /* Amarillo suave */
  --button-bg: rgba(255, 204, 0, 0.8); /* Amarillo brillante */
  --button-hover: rgba(255, 204, 0, 1); /* Amarillo al pasar el mouse */
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(160, 2, 28);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}
.button {
  display: inline-block;
  margin-bottom: 100px; /* Añade un margen para separación */
}

.button button {
  padding: 12px 24px;
  background-color: #FFD700; /* Botón amarillo */
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative; /* Asegúrate de que el botón esté en el flujo normal */
}


.button a {
  text-decoration: none;
  color: #170631;
  position: relative;
  z-index: 1;
}



.button:hover::before {
  left: 100%;
}

.button:hover {
  background-color: var(--button-hover); /* Cambia a amarillo brillante al pasar el mouse */
}


.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  cursor: pointer;
}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
}

.envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 100px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 100px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}

.letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
  overflow-y: auto;
}

.letter .text {
  font-size: 10px;
  line-height: 1.5;
  color: var(--txt-color);
  text-align: left;
  margin-bottom: 20px;
}

.letter h1 {
  font-size: 14px;
  margin-bottom: 10px;
}

.letter .button {
  background-color: #e9c80d; /* Botón amarillo dentro de la carta */
  color: #170631; /* Texto oscuro */
}

.letter .button:hover {
  background-color: var(--button-hover); /* Cambia al pasar el mouse */
}
.letter .button:focus {
  background-color: var(--button-hover-color);
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
}

.heart:before, 
.heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}

.heart:before {
  top: -7.5px;
}

.heart:after {
  right: 7.5px;
}

.flap .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}

.flap .envelope .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}

.flap .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

@media (max-width: 400px) {
  .envelope {
    transform: scale(0.8);
  }
}